mixin navItem(link, text, icon, dropdownItems = [])
  if dropdownItems.length === 0
    li
      a(class="flex items-center hover:bg-gray-700 px-4 py-2 rounded" href=`${link}`)
        i(class=`${icon} pr-2 inline-block`)
        | #{text}
  else
    li
      a(class="dropdown flex items-center justify-between hover:bg-gray-700 px-4 py-2 rounded" href="javascript:;" data-toggle="collapse" data-target=`#dropdown-${text.replace(/\s+/g, '-').toLowerCase()}`)
        span.flex.items-center.space-x-2
          i(class=`${icon} pr-2 inline-block`)
          | #{text}
        i(class="fa fa-fw fa-caret-down")
      ul(class="collapsable space-y-1 pl-4 hidden" id=`dropdown-${text.replace(/\s+/g, '-').toLowerCase()}`)
        each item in dropdownItems
          li
            a(class="block px-4 py-2 hover:bg-gray-700 rounded" href=`${item.link}`) #{item.text}

div(id='sidebar' class='fixed -left-80 lg:left-0 h-full w-56 z-50  bg-gray-800 border-r top-[120px] lg:top-[73px]  shadow-lg border-green-800 transition-all duration-500')
  ul(class="space-y-2 py-4 text-gray-300")
    +navItem("/dashboard", "Dashboard", "fa fa-fw fa-dashboard")
    +navItem("javascript:;", "Posts", "fa fa-fw fa-arrows-v", [
      { link: "/manage_posts", text: "View All Posts" },
      { link: "/manage_posts?source=add_post", text: "Add Post" }
    ])
    -if(user.role === 'admin')
      +navItem("/manage_categories", "Categories", "fa fa-fw fa-wrench")
    +navItem("/manage_comments", "Comments", "fa fa-fw fa-file")
    -if(user.role === 'admin')
      +navItem("javascript:;", "Users", "fa fa-fw fa-arrows-v", [
        { link: "./manage_users?source=view_all_users", text: "View All Users" },
        { link: "./manage_users?source=add_user", text: "Add User" }
      ])
    +navItem("/manage_subscribers", "Subscribers", "fa fa-fw fa-users")
    +navItem("/me", "Profile", "fa fa-user")